# Compiled class file

*.class



# Log file

*.log



# BlueJ files

*.ctx

t

# Mobile Tools for Java (J2ME)

.mtj.tmp/



# Package Files #
*.war

*.nar

*.ear

*.zip

*.tar.gz

*.rar
*.bat
.classpath
*rebel.xml
.project
.settings/
/build
/data/cache
/data/logs
/data/characters
/data/charactersBackup
/data/clans
/data/items/packedSpawns
/data/npcs/packedSpawns
/data/items/bonuses
/data/npcs/spawns.txt
/data/npcs/packedSpawns/*
.idea/
.gradle/
/out
/gradle
*.iml
gradlew
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
Server.iml
hs_err_pid*
/bin/
src/main/java/com/rs/utility/tools/AnimationPacker.java
src/main/java/com/rs/utility/tools/ModelDumper.java
.idea/workspace.xml

data/*.zip
data/*.rar
data/*.7z

data/cleaned-cache/
src/main/java/com/rs/utility/FileNameConverter.java
data/logs/items/npcdrops.txt
data/logs/items/shop.txt
data/logs/items/trades.txt
data/logs/items/npcdrops.txt
data/logs/items/shop.txt
data/logs/items/trades.txt
